
	 
h1{
		text-align: center;
		 font-weight: bold;
		 margin-top:5px; 
	
	}

form{
	text-align: center;
	background: #ffcccc;

	
}

body {
  font-family:;
  margin-left: 0px;
  background-color:;
  
}

input {
	border-radius: 5px;
	padding: 5px;
	border-style: none;
	border-bottom: 1px solid black;
}

form { 
	width: auto ; 
	margin: auto;
	padding: 5px; 
	border-radius: 5px;  
	//box-shadow: 5px 5px 2px #888;
}

button{
	color: green;
}

div{
	margin-left: 0PX;
}


div.box{
 text-align: left;
 margin-left: 20px;


 
}
input[type="text"]::placeholder {  
                   
                text-align: center; 
            } 


.container{
	margin-top:10px blue;
	text-align: center;
	height:auto;
	width: auto;
	margin-left:450px;
	margin-right:400px;
	border-radius: 5px;
	background-color: #ffcccc;
}

.form-group{text-align: center;
	border-radius: 10px;
	width: 60%;
	box-shadow: 2px;
	background-color: white;
	padding:5px ;
	margin-left: 100px;

}
.button{
	font-size: 16px;
	background-color: green;
	color: white; 
	align-self: left;
}
.g1{
	text-align: center;
	font-style: default;
}

#pcolor{
	text-align:center;
	color: red;
}
